@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
  user-select: none;
  background-color: #000;
}

.page_wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
}

.title_wrapper {
  width: 90%;
  height: 20%;
  padding-top: 5%;
  text-align: center;
  font-size: 1.8rem;
  background-image: linear-gradient(202deg, #00f4c8 19.75%, #00ff85 87.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.fail_title {
  background-image: linear-gradient(0deg, #ff00c7 0.02%, #ff003d 99.35%);
}

.questions_wrapper {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.next_button_wrapper {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_button_wrapper_with_skip {
  flex-direction: column;
  justify-content: space-around;
}

.skip_test_button {
  background: linear-gradient(357deg, #ffc700 2.24%, #ff6b00 97.98%);
}

.next_question_button {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 150, 20, 1) 0%,
    rgba(0, 196, 62, 1) 100%
  );
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.fail_button {
  background: linear-gradient(0deg, #ff00c7 0.02%, #ff003d 99.35%);
}

.next_question_button:hover {
  -webkit-box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
  -moz-box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
  box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
}

.question_item {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(113, 113, 113, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  color: #b0b0b0;
  border: 1px solid #00f4c8;
  -webkit-box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
  -moz-box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
  box-shadow: 0px 0px 16px 7px rgba(0, 255, 133, 0.12);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.question_item:hover {
  -webkit-box-shadow: 0px 0px 20px 19px rgba(0, 255, 133, 0.12);
  -moz-box-shadow: 0px 0px 20px 19px rgba(0, 255, 133, 0.12);
  box-shadow: 0px 0px 20px 19px rgba(0, 255, 133, 0.12);
}

.chosen {
  transition: 0.2s ease-out;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 150, 110, 0.9360994397759104) 0%,
    rgba(27, 255, 179, 1) 100%
  );
  color: #fff;
}

.page_2 {
  display: none;
}
.page_3 {
  display: none;
}
.page_4 {
  display: none;
}
.page_5 {
  display: none;
}
.success_page {
  display: none;
}
.fail_page {
  display: none;
}
.fail_page_with_skip {
  display: none;
}
